.app{
    min-height: 100vh;
}
.app .logo{
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.top_header{
    background-color: #fff;
    padding: 20px;
}
.dropdown_item{
    min-width: 150px;
}
.container{
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 24px 16px 0;
}
.bottom_footer{
    text-align: center;
}