.app{
    min-height: 100vh;
}
.app .logo{
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.top_header{
    background-color: #fff;
    padding: 20px;
}
.dropdown_item{
    min-width: 150px;
}
.container{
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 24px 16px 0;
}
.bottom_footer{
    text-align: center;
}
/* 编辑器 */
.bf-container {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}

.flex_box{
    display: flex;
    align-items: center;
}
.flex_box .mr20_btn40{
    margin-right: 20px;
    height: 40px;
}

.flex-form-item{
    margin-bottom: 20px;
}
.flex-form-item label{
    display: inline-block;
    width: 150px;
    text-align: left;
    line-height: 32px;
}
.flex-form-item input,.flex-form-item .ant-select{
    width: 100%;
    max-width: 300px;
}
.ml132{
    margin-left: 132px;
}

/* 大于576的屏幕 */
@media (min-width: 576px) {
    .flex-form-item{
        display: flex;
        justify-content: flex-start;
    }
    .flex-form-item label{
        text-align: right;
    }
}