html {
  font-family: -apple-system, 'SinkinSans', BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
  font-size: 16px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,p,h1,h2,h3,ul,ol,dl,dd,figure,menu {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",monospace;
}

ul,ol,input,textarea,figure,menu {
  padding: 0;
}

main,details {
  display: block;
}

/* 统一标题的表现形式 */
h1,h2,h3 {
  font-weight: 400;
}

/* 合并表格边框和相邻单元格的边框间的距离为0 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 清除无序列表圆点样式 */
ul {
  list-style: none;
}

/* 用于浮动元素的父元素 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both
}

.clearfix {
  /* 兼容IE6、7 */
  *zoom: 1
}

/* 占位符placeholder的颜色改变 */
input:-moz-placeholder,textarea:-moz-placeholder {
  color: rgba(255, 255, 255, .7);
}

input::-moz-placeholder,textarea::-moz-placeholder {
  color: rgba(255, 255, 255, .7);
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .7);
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, .7);
}

.text-wrap {
  /* 针对中文换行 */
  white-space: pre-wrap;
  /* 以字母为依据换行，数字也可以 */
  word-break: break-all;
}

/* 文本溢出，省略号显示 */
.text-tradition {
  display: inline-block;
  max-width: 700px;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* 兼容Opera浏览器 */
  -o-text-overflow: ellipsis;
  overflow: hidden;
}

/* 选择文字后的背景色 */
body ::selection {
  color: #333;
  background-color: #fef032;
  text-shadow: none;
}

/* 去掉IE浏览器文本框的小X和密码框的眼睛，（只能IE10以上）*/
::-ms-clear,::-ms-reveal {
  display: none;
}

input:focus{
  outline: none;
}