/* 后台 */
.admin_back{
    min-height: 100vh;
}
.admin_back .logo{
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.admin_back .top_header{
    background-color: #fff;
    padding: 20px;
}
.admin_back .dropdown_item{
    min-width: 150px;
}
.admin_back .container{
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 24px 16px 0;
}
.admin_back .bottom_footer{
    text-align: center;
}
/* 编辑器 */
.admin_back .bf-container{
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}
.admin_back .flex_box{
    display: flex;
    align-items: center;
}
.admin_back .flex_box .mr20_btn40{
    margin-right: 20px;
    height: 40px;
}
.admin_back .flex-form-item{
    margin-bottom: 20px;
}
.admin_back .flex-form-item label{
    display: inline-block;
    width: 150px;
    text-align: left;
    line-height: 32px;
}
.admin_back .flex-form-item input,.admin_back .flex-form-item .ant-select{
    width: 100%;
    max-width: 300px;
}
.admin_back .ml132{
    margin-left: 132px;
}
/* 登录 */
.login_box{
    max-width: 300px;
    margin: 100px auto 0;
}
.login_box .login_form_forgot{
    float: right;
}
.login_box .login_form_button{
    width: 100%;
}
/* 前台 */
.menu_wrap{
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}
.menu_wrap .menu_inner{
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
}
.menu_inner .logo{
    height: 80px;
    line-height: 80px
}
.logo a{
    font-size: 36px;
    font-weight: bold;
    color: #ff5a00;
    text-decoration: none
}
.menu_btn{
    display: block;
    font-size: 30px;
    color: #ff5a00;
    line-height: 80px;
}
.menu_list{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    overflow: hidden;
    height: 0px;
    transition: height .3s ease;
}
ul.dispaly_menu{
    height: auto;
}
.menu_item a{
    display: block;
    font-size: 16px;
    color: #666;
    margin-top: 0px;
    margin-bottom: 20px;
}
.article_wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1080px;
    margin: 90px auto 0;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 10px 40px -10px rgba(0,64,128,.2);
}
.article_inner{
    max-width: 700px;
}
.article_inner .article_item{
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #eee;
}
.article_inner .article_item:last-child{
    border-bottom: 0;
}
.article_item .article_title{
    font-size: 24px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.article_title a{
    display: inline-block;
    max-width: 100%;
    color: #333;
    text-decoration: none;
}
.article_title a:after{
    display: block;
    content: '';
    height: 2px;
    width: 0;
    line-height: 2px;
    background-color: #666;
    margin: 0 auto;
    transition: width .3s linear;
}
.article_title a:hover::after{
    width: 100%;
}
.article_item .article_intro {
    font-size: 14px;
    color: #666;
    margin-top: -10px;
}
.article_intro span{
    margin-right: 14px;
}
.article_intro i {
    margin-right: 4px;
}
.article_txt p{
    font-size: 16px;
    color: #666;
    text-align: justify;
}
.article_btn a{
    position: relative;
    float: right;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    background-color: #ff5a00;
    margin-top: 16px;
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
}
.article_btn a::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333;
    border-radius: 100%;
    transform: scale(0);
    transition: transform .3s ease-out;
}
.article_btn a:hover::before{
    transform: scale(2);
}
.side_inner{
    max-width: 260px;
}
.side_inner .side_box{
    margin-bottom: 20px;
}
.side_box .aside_title{
    font-size: 18px;
    color: #666;
    font-weight: 700;
    margin-bottom: 10px;
}
.aside_title i{
    font-size: 20px;
    color: #ff5a00;
    margin-right: 4px;
}
.side_inner .search_box, .article_inner .search_box{
    position: relative;
}
.search_box input{
    font-size: 14px;
    color: #666;
    width: 238px;
    padding: 6px 10px;
    border: 1px solid #eee;
    background-color: #f8f8f8;
}
.search_box .search_btn{
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    text-align: center;
    background-color: #444;
    position: absolute;
    right: 0;
    top: 0;
}
.tuijian_list .tuijian_item {
    width: 100%;
}
.tuijian_item a,.profile_box a{
    font-size: 16px;
    color: #888;
    text-decoration: none;
}
.tags_box a{
    display: inline-block;
    font-size: 14px;
    color: #888;
    padding: 3px 8px;
    margin: 0 6px 6px 0;
    text-decoration: none;
    background-color: #f7f7f7;
    border: 1px solid #f2f2f2;
    white-space: nowrap;
    transition: all .2s ease-in;
}
.footer{
    font-size: 16px;
    color: #aaa;
    width: 100%;
    padding: 25px 0;
    margin-top: 30px;
    background-color: #333;
}
.footer .footer_wrap{
    max-width: 1080px;
    margin: 0 auto;
}
.footer_wrap .copyright{
    font-size: 14px;
    text-align: center;
    line-height: 1.5em;
}
.copyright a{
    color: #aaa;
    text-decoration: none;
}
.footer_wrap .police{
    margin: 0 auto;
    text-align: center;
}
.police a,.police p{
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.police img{
    float: left;
}
.police p{
    float: left;
    margin: 0 0 0 5px;
    color: #aaa;
    font-size: 14px;
}
/* 大于576的屏幕 */
@media (min-width: 576px) {
    .admin_back .flex-form-item{
        display: flex;
        justify-content: flex-start;
    }
    .admin_back .flex-form-item label{
        text-align: right;
    }
    /*  */
    .menu_btn{
        display: none;
    }
    .menu_list{
        flex-direction: row;
        flex-basis: auto;
        height: auto;
    }
    .menu_item a{
        padding: 0 20px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .article_wrap{
        flex-direction: row;
    }
}
/* 后台栏目 */
.column-form .ant-col-sm-2{
    min-width: 9em;
}