/* 后台 */
.admin_back{
    min-height: 100vh;
}
.admin_back .logo{
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.admin_back .top_header{
    background-color: #fff;
    padding: 20px;
}
.admin_back .dropdown_item{
    min-width: 150px;
}
.admin_back .container{
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 24px 16px 0;
}
.admin_back .bottom_footer{
    text-align: center;
}
/* 编辑器 */
.admin_back .bf-container{
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}
.admin_back .flex_box{
    display: flex;
    align-items: center;
}
.admin_back .flex_box .mr20_btn40{
    margin-right: 20px;
    height: 40px;
}
.admin_back .flex-form-item{
    margin-bottom: 20px;
}
.admin_back .flex-form-item label{
    display: inline-block;
    width: 150px;
    text-align: left;
    line-height: 32px;
}
.admin_back .flex-form-item input,.admin_back .flex-form-item .ant-select{
    width: 100%;
    max-width: 300px;
}
.admin_back .ml132{
    margin-left: 132px;
}
/* 前台 */
.menu_wrap{
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
}
.menu_wrap .menu_inner{
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
}
.menu_inner .logo{
    height: 80px;
    line-height: 80px
}
.logo a{
    font-size: 36px;
    font-weight: bold;
    color: #ff5a00;
    text-decoration: none
}
.menu_btn{
    display: block;
    font-size: 30px;
    color: #ff5a00;
    line-height: 80px;
}
.menu_list{
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    overflow: hidden;
}
.menu_item a{
    display: block;
    font-size: 16px;
    color: #666;
    margin-top: 0px;
    margin-bottom: 20px;
}

.footer {
    font-size: 16px;
    color: #aaa;
    width: 100%;
    padding: 25px 0;
    margin-top: 30px;
    background-color: #333;
}
.footer .footer_wrap{
    max-width: 1080px;
    margin: 0 auto;
}
.footer_wrap .copyright{
    font-size: 14px;
    text-align: center;
    line-height: 1.5em;
}
.copyright a{
    color: #aaa;
    text-decoration: none;
}
.footer_wrap .police{
    margin: 0 auto;
    text-align: center;
}
.police a,.police p{
    display: inline-block;
    height: 20px;
    line-height: 20px;
}
.police img{
    float: left;
}
.police p{
    float: left;
    margin: 0 0 0 5px;
    color: #aaa;
    font-size: 14px;
}
/* 大于576的屏幕 */
@media (min-width: 576px) {
    .admin_back .flex-form-item{
        display: flex;
        justify-content: flex-start;
    }
    .admin_back .flex-form-item label{
        text-align: right;
    }
    /*  */
    .menu_btn{
        display: none;
    }
    .menu_list{
        flex-direction: row;
        flex-basis: auto;
    }
    .menu_item a{
        padding: 0 20px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
}