/* 后台 */
.admin_back{
    min-height: 100vh;
}
.admin_back .logo{
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}
.admin_back .top_header{
    background-color: #fff;
    padding: 20px;
}
.admin_back .dropdown_item{
    min-width: 150px;
}
.admin_back .container{
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 24px 16px 0;
}
.admin_back .bottom_footer{
    text-align: center;
}
/* 编辑器 */
.admin_back .bf-container{
    border: 1px solid #d1d1d1;
    border-radius: 5px;
}
.admin_back .flex_box{
    display: flex;
    align-items: center;
}
.admin_back .flex_box .mr20_btn40{
    margin-right: 20px;
    height: 40px;
}
.admin_back .flex-form-item{
    margin-bottom: 20px;
}
.admin_back .flex-form-item label{
    display: inline-block;
    width: 150px;
    text-align: left;
    line-height: 32px;
}
.admin_back .flex-form-item input,.admin_back .flex-form-item .ant-select{
    width: 100%;
    max-width: 300px;
}
.admin_back .ml132{
    margin-left: 132px;
}
/* 前台 */

/* 大于576的屏幕 */
@media (min-width: 576px) {
    .admin_back .flex-form-item{
        display: flex;
        justify-content: flex-start;
    }
    .admin_back .flex-form-item label{
        text-align: right;
    }
}